*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* CORES */

  /* PRODUTO */
  --brand-color-primary: #f7b733;
  --brand-color-secondary: #fc4a1a;
  --brand-gradient: linear-gradient(
    90deg,
    var(--brand-color-secondary),
    var(--brand-color-primary)
  );

  /* BASE */
  --bg-color: #09090b;
  --surface-color: #18181b;
  --stroke-color: #27272a;
  --text-color-secondary: #a1a1aa;
  --text-color-primary: #f4f4f5;

  --font-family: "Inter", system-ui, sans-serif;

  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;

  --px-lg: 1.5rem;

  --py-base: 1rem;
  --py-lg: 1.5rem;
  --py-xl: 3rem;

  /* FONTS DESKTOP */
  --font-desktop-h1: 4rem/120% var(--fw-bold) var(--font-family);
  --font-desktop-h2: 3rem/120% var(--fw-bold) var(--font-family);
  --font-desktop-h3: 2rem/120% var(--fw-bold) var(--font-family);
  --font-desktop-span: var(--fs-sm) / 100% var(--fw-md) var(--font-family);
  --font-desktop-paragraph: var(--fs-base) / 160% var(--fw-base)
    var(--font-family);

  /* FONTS MOBILE */
  --font-mobile-h1: var(--fs-2xl) / 120% var(--fw-bold) var(--font-family);
  --font-mobile-h2: var(--fs-xl) / 120% var(--fw-bold) var(--font-family);
  --font-mobile-h3: var(--fs-lg) / 120% var(--fw-bold) var(--font-family);
  --font-mobile-span: var(--fs-sm) / 100% var(--fw-md) var(--font-family);
  --font-mobile-paragraph: var(--fs-base) / 160% var(--fw-base)
    var(--font-family);
}

html {
  font-family: var(--font-family);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;
  color: var(--text-color-primary);
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;
}

h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

ul[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

@media (width >= 80em) {
  :root {
    --fs-lg: 2rem;
    --fs-xl: 3rem;
    --fs-2xl: 4rem;

    --px-lg: 2rem;

    --py-base: 1.5rem;
    --py-lg: 2.5rem;
    --py-xl: 5rem;
  }
}
